<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/javascript">

        const update = (id) => {

            window.open('http://localhost:3000/update/' + id);

        };

        const deleteBook = async (id) => {

            await $.ajax({

                url: `http://localhost:3000/delete/${id}`,

                type: "DELETE",

                dataType: "json",

                contentType: "application/json",

                success: function (result) {

                },

                error: function (xhr, ajaxOptions, thrownError) {

                    console.log(xhr.status);

                    console.log(thrownError);

                }

            });

            location.reload();

        };

    </script>
    <style>
        .pagination a {

            color: black;

            float: left;

            padding: 12px 18px;

            text-decoration: none;

        }

        /* thiết lập style cho class active */

        .pagination a.active {

            background-color: dodgerblue;

            color: white;

            /*Thiết kế hình tròn với CSS*/

            border-radius: 50%;

        }

        /* thêm màu nền khi người dùng hover vào class không active */

        .pagination a:hover:not(.active) {

            background-color: #ddd;

            /*Thiết kế hình tròn với CSS*/

            border-radius: 50%;

        }

    </style>

</head>

<body>

<h2>List Books</h2>

<% for(const book of books) { %>

    <h3>

        Title: <%= book.title %>

    </h3>

    <p>

        Description: <%= book.description %>

    </p>

    <p>

        Author: <%= book.author %>

    </p>

    <button><a onclick="update('<%= book.id %>')" style="text-decoration: none" type="button">Update</a></button>

    <button><a style="text-decoration: none" href="/delete/<%= book.id %>" onclick="deleteBook('<%= book.id %>')" type="button">Delete</a></button>

    </br>

<% } %>

<div class="pagination">

    <a href="#">«</a>
    <a href="http://localhost:3000/list?offset=0&limit=3">1</a>
    <a href="http://localhost:3000/list?offset=0&limit=3">2</a>
    <a href="http://localhost:3000/list?offset=0&limit=3">3</a>
    <a href="http://localhost:3000/list?offset=0&limit=3">4</a>
    <a href="#">»</a>

</div>

</body>

</html>
